/* ------------------------------------------------------------ *\
	Reset
\* ------------------------------------------------------------ */

* { box-sizing: border-box; padding: 0; margin: 0; }

/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */

@font-face {
    font-family: 'TrebuchetMS';
    src: url('fonts/TrebuchetMS.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

body { font-size: 14px; line-height: 1.2; font-weight: 400; font-family: 'Arial', sans-serif; color: #6a6a6a; }

h3 { font-size: 24px; color: #1b3164;  font-weight: 400; }

h4 { font-size: 20px; color: #6c5427; font-size: 400;  }
a {text-decoration: none;}

table { border-color: #efefef; border-top-left-radius: 10px;  border-bottom-left-radius: 10px; }

table, th, td { border: 1px solid #c9c9c9; border-collapse: collapse; }
/* ------------------------------------------------------------ *\
	Shell
\* ------------------------------------------------------------ */

.shell { width: 990px; margin: 0 auto; }


/* ------------------------------------------------------------ *\
    btn
\* ------------------------------------------------------------ */

.btn { padding: 10px 10px; font-family: inherit; font-size: 14px; position: relative; text-decoration: none; color: #ffff; border-radius: 20px; color: #ffff; border: 2px solid #ebebeb; cursor: pointer; }

/* ------------------------------------------------------------ *\
    header
\* ------------------------------------------------------------ */

.header { padding: 18px 0; border-bottom: 55px solid #7a87a5; }

/* ------------------------------------------------------------ *\
    content
\* ------------------------------------------------------------ */

.content { padding: 45px 6px; }
.content .content__head { padding: 0 15px; margin-bottom: 33px; }
.content .content__head .title { border-bottom: 3px solid #c0cce6; padding-bottom: 10px;   }

.content .content__body { padding: 0 5px; margin-bottom: 23px; }

.content .content__foot { padding: 0 15px; }
.content .content__foot .foot-title { padding: 15px 10px 0; background-color: #ebebeb; font-size: 20px; }
.content .content__foot .events { padding: 20px 10px; background: rgb(235,235,235);
background: linear-gradient(180deg, rgba(235,235,235,1) 0%, rgba(254,254,254,1) 94%); }
.content .content__foot .events ul { list-style: none; margin: -3px -3px; }
.content .content__foot .events ul:after { content: ''; display: block; clear: both; }
.content .content__foot .events li { float: left; width: 33.33%; padding: 3px 3px; background: rgb(235,235,235);
background: linear-gradient(180deg, rgba(235,235,235,1) 0%, rgba(254,254,254,1) 94%);}

/* ------------------------------------------------------------ *\
    table   
\* ------------------------------------------------------------ */

.table tr:nth-child(1) { background-color: #e9edf6;}
.table th { padding: 12px 11px 8px; text-align: center; font-size: 18px;  }
.table td { min-height: 105px; }
.table td { width: 136px; height: 139px; padding: 20px 5px 2px;  position: relative; font-size: 12px; vertical-align: top; }
.table td p span { color: #1b3164; }
.table td p { color: #6c5427; display: inline-block; margin-bottom: 5px; }
.table td a p { margin-bottom: 0; font-weight: 600; }

.table .date { position: absolute; top:4px; left: 8px; }

.table .next-month { background-color: #ebebeb; }

.table .col-width { max-width: 140px; }

/* ------------------------------------------------------------ *\
    event
\* ------------------------------------------------------------ */

.event { background-color: #ffffff;  padding: 20px 20px; border-bottom: 4px solid #69abea; box-shadow: 0 4px 2px -2px #cdcdcd; }
.event h4 { margin-bottom: 20px; }
.event p { margin-bottom: 30px; }
.event .see-event img { margin-bottom: -2px;  }
.event .see-event p { display: inline-block; margin-bottom: 0; color: #644b1b; font-weight: 600; font-size: 16px; }

/* ------------------------------------------------------------ *\
    footer 
\* ------------------------------------------------------------ */

.footer { padding: 85px 0; background-color: #7a87a5; }