/* ------------------------------------------------------------ *\
	Reset
\* ------------------------------------------------------------ */

* { box-sizing: border-box; padding: 0; margin: 0; }

/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */

body { font: 16px/1.5 'Trebuchet MS', sans-serif; color: #333333; }

a { color: #117cb1; text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 { line-height: 1.2; }

p { margin-bottom: 22px; letter-spacing: 0.0005em; }

h1 { font-size: 40px; line-height: 1.2; font-weight: 400; margin-bottom: 19px; }
h2 { font-size: 30px; line-height: 1.2; font-weight: 400; margin-bottom: 20px; }
h3 { font-size: 25px; }
h4 { font-size: 16px; }
h5 { font-size: 13px; }
h6 { font-size: 12px; }


h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child { margin-bottom: 0; }

/* ------------------------------------------------------------ *\
	Btn
\* ------------------------------------------------------------ */

.btn {display: inline-block; font-size: 16px; line-height: 1.2; padding: 13px 30px; border-radius: 5px; text-decoration: none; color: white; }

/* ------------------------------------------------------------ *\
	Shell
\* ------------------------------------------------------------ */

.shell { max-width: 738px; margin: 0 auto; padding: 0 15px; }

/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */

.header .header__content { background-color: #e6e6e5; text-align: center; padding: 65px 0 72px;  box-shadow: inset 0 5px 5px -5px rgba(0,0,0,.4); }

/* ------------------------------------------------------------ *\
	Section
\* ------------------------------------------------------------ */

.section .section__content { padding: 63px 0 63px 100px; }
.section .btn { margin-top: 100px; }
.section .shell { border-bottom: 1px solid #eeeeee; }
.section:nth-child(even) .section__content { padding: 63px 100px 63px 0; }

.section h2 { color: #00ab61; }
.section .btn { background-color: #00ab61; }

/*section--blue*/
.section--blue { text-align: right; }
.section--blue h2 { color: #0073ab; }
.section--blue .btn {  background-color: #0073ab; }

/*section--orange*/
.section--orange h2 { color: #ffaf36; }
.section--orange .btn {  background-color: #ffaf36; }
.section--orange .shell{ border-bottom: 0px; }

/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */

.footer { margin-top: 30px; }

.footer p { font-size: 14px; margin-bottom: 10px; }
.footer p:last-child { margin-bottom: 0; }

.footer .footer__content { background-color: #e6e6e5; padding: 25px 0 19px; }
.footer .footer__bar { padding: 10px 0; }

/* ------------------------------------------------------------ *\
	List Socials
\* ------------------------------------------------------------ */

.list-socials { list-style: none; }
.list-socials:after { content: ''; display: block; clear: both; }
.list-socials li { width: 60px; float: left; }